.chat-title {
    z-index: 5;
    background-color: #d8d8d8 !important;
    height: 7vh;
    border-radius: 0 !important;
    padding: 0 !important;

    .MuiList-padding {
        padding: 0 !important;
    }

    .MuiListItem-root {
        padding-top: 0 !important;
    }
}

.chat-body {
    background-color: rgb(230, 230, 230);
    background-image: url('https://sirolad.com.ng/images/pattern.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 83vh;
    padding: 0 !important;

    .MuiListItemText-primary {
        font-size: x-small !important;
    }

    .recived {
        .MuiTypography-body2 {
            background-color: #7d819271;
            width: 60% !important;
            padding: 1%;
            border-radius: 10px 0 10px 0;
        }
    }

    .sent {
        text-align: right;

        .MuiTypography-body2 {
            background-color: #ffffff71;
            width: 60% !important;
            float: right;
            padding: 1%;
            border-radius: 10px 0 10px 0;
        }
    }
}

.chat-input {
    z-index: 5;
    background-color: #d8d8d8 !important;
    height: 7vh;
    border-radius: 0 !important;
    padding-top: 1vh !important;
    padding-bottom: 1vh !important;

    .MuiFormControl-root {
        width: 100%;

        .Mui-focused {
            background-color: #ffffff71;
        }

        div {
            border-radius: 20px;
            height: 5vh !important;
            background-color: rgb(255, 255, 255);

            button:hover {
                background-color: transparent !important;
            }
        }
    }

    .Mui-focused {
        border: none !important;
        outline: none !important;
        box-shadow: none !important;
    }

    .send-icon {
        color: rgb(0, 0, 0);
    }
}