html {
    scroll-behavior: smooth;
    background-color: #b9b9b9;
}

::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
}

.main {
    border-radius: 20px !important;
    box-shadow: 20px 20px 60px #b8b8b8,
        -20px -20px 60px #e2dfdf !important;
    margin-top: 1vh !important;
}