.contact-title {
    z-index: 5;
    background-color: rgb(216, 216, 216) !important;
    border-radius: 0 !important;
    height: 7vh;
    padding: 0 !important;

    .MuiList-padding {
        padding: 0 !important;
    }

    .MuiListItem-root {
        padding-top: 0 !important;
    }
}

.contact-search {
    background-color: rgb(235, 235, 235);
    border-radius: 0 !important;
    height: 6vh;
    padding-top: 1vh !important;
    border-bottom: solid gray 1px;

    div {
        margin: 0 !important;
        border-radius: 20px;
        width: 100% !important;
        height: 4vh !important;
        background-color: rgb(255, 255, 255);

        button:hover {
            background-color: transparent !important;
        }
    }


}

.contact-body {
    margin-right: 1px;
    background-color: rgb(235, 235, 235);
    height: 84vh;
    padding: 0 !important;

    .MuiList-padding {
        padding: 0 !important;
    }

    .MuiListItem-root {
        padding-top: 0 !important;
    }
}